<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head">
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>

<!---------- NAVBAR ---------->
<nav th:replace="partials :: navbar"></nav>
<nav th:replace="partials :: navbar-mobile"></nav>

<article class="main-container">
    <section class="section-container">

        <!---------- NEW POST FORM ---------->
        <form method="post" th:action="@{/posts/create}" th:object="${post}">

            <label for="post-title">New Post Title</label>
            <input  th:field="*{title}" type="text" id="post-title" name="title">

            <label for="post-body">New Post Body</label>
            <textarea th:field="*{body}" id="post-body" name="body"></textarea>

            <button>Submit</button>

        </form>

        <a th:href="@{/posts/}"><button>Cancel</button></a>


    </section>
</article>

<!---------- FOOTER ---------->
<nav th:replace="partials :: footer"></nav>
</body>
</html>