<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head">
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<!---------- NAVBAR ---------->
<nav th:replace="partials :: navbar"></nav>
<nav th:replace="partials :: navbar-mobile"></nav>

<article class="main-container">
    <section class="section-container" sec:authorize="isAuthenticated()">

        <!---------- NEW POST FORM ---------->
        <form method="POST" th:action="@{'/posts/' + ${post.getId()} + '/edit'}" th:object="${post}">

            <!---------- POST TITLE ---------->
            <label for="title">Edit Post Title</label>
            <input type="text" id="title" name="title" th:value="${post.title}">

            <!---------- POST BODY ---------->
            <label for="body">Edit Post Body</label>
            <textarea id="body" name="body" th:text="${post.body}"></textarea>

            <!---------- POST SUBMIT ---------->
            <button type="submit" id="submit-btn">Submit</button>

        </form>

        <!---------- POST CANCEL ---------->
        <a th:href="@{/posts/}"><button id="cancel-btn">Cancel</button></a>
    </section>
</article>

<!---------- FOOTER ---------->
<nav th:replace="partials :: footer"></nav>

</body>
</html>