<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head">
    <meta charset="UTF-8">
    <title>Show Post</title>
</head>
<body>

<!---------- NAVBAR ---------->
<nav th:replace="partials :: navbar"></nav>
<nav th:replace="partials :: navbar-mobile"></nav>

<article class="main-container">
    <!---------- POST CONTAINER ---------->
    <section class="section-container">

        <!---------- POST ---------->
        <div th:object="${currentPost}">

            <!---------- POST HEADER ---------->
            <h1 class="section-header" th:text="${currentPost.title}"></h1>

            <!---------- POST DETAILS ---------->
            <p id="author">Written by <strong th:text="${currentPost.getUser().getUsername()}"></strong></p>
            <p id="published">Published on <strong th:text="${currentPost.getUser().getUsername()}"></strong></p>

            <!---------- POST BODY ---------->
            <div id="content-body">
                <p class="post-body" th:utext="${#strings.replace( #strings.escapeXml( currentPost.body ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></p>
            </div>

            <!---------- POST ID ---------->
            <p>Post id: <em th:text="${currentPost.id}"></em></p>


            <!---------- POST UPDATE BUTTONS ---------->
            <div id="button-group" sec:authorize="isAuthenticated()">

                <!---------- POST EDIT ---------->
                <form method="get" th:action="@{'/posts/' + ${currentPost.getId()} + '/edit'}">
                    <button type="submit" id="edit-btn">edit</button>
                </form>

                <!---------- POST DELETE ---------->
                <form method="post" th:action="@{'/posts/' + ${currentPost.getId()} + '/delete'}">
                    <button type="submit" id="delete-btn">delete</button>
                </form>
            </div>
        </div>

    </section>


    <!---------- BACK TO ALL POSTS ---------->
    <section class="section-container">
        <a th:href="@{/posts/}" id="back-section">
            <svg id="graphic-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/>
            </svg>
            <p> Back to all posts </p>
        </a>
    </section>
</article>

<!---------- FOOTER ---------->
<nav th:replace="partials :: footer"></nav>

</body>
</html>