<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head">
    <meta charset="UTF-8">
    <title>Show Post</title>
</head>
<body>

<!---------- NAVBAR ---------->
<nav th:replace="partials :: navbar"></nav>
<nav th:replace="partials :: navbar-mobile"></nav>

<article class="main-container">
    <!---------- POST CONTAINER ---------->
    <section class="section-container">

        <div th:object="${currentPost}">

            <h1 th:text="${currentPost.title}"></h1>
            <p th:text="${currentPost.body}"></p>

            <p>Post id: <em th:text="${currentPost.id}"></em></p>

            <form method="get" th:action="@{'/posts/' + ${currentPost.getId()} + '/edit'}">
                <button type="submit">edit</button>
            </form>
            <form method="post" th:action="@{'/posts/' + ${currentPost.getId()} + '/delete'}">
                <button type="submit">delete</button>
            </form>
        </div>

    </section>
</article>

<!---------- FOOTER ---------->
<nav th:replace="partials :: footer"></nav>

</body>
</html>