<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head">
    <meta charset="UTF-8">
    <title>Show Post</title>
</head>
<body>

<!---------- NAVBAR ---------->
<nav th:replace="partials :: navbar"></nav>
<nav th:replace="partials :: navbar-mobile"></nav>

<article class="main-container">
    <!---------- POST CONTAINER ---------->
    <section class="section-container">
        <h1 th:text="${newPost.title}"></h1>
        <p th:text="${newPost.body}"></p>
        <p>Post id : <em th:text="${currentPost}"></em></p>
    </section>
</article>

<!---------- FOOTER ---------->
<nav th:replace="partials :: footer"></nav>

</body>
</html>