<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>

    <!--  CUSTOM CSS  -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">


    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lato:ital,wght@0,400;0,900;1,400&display=swap"
          rel="stylesheet">


</head>
<body>

<nav th:fragment="navbar">
    <ul class="main-nav">
        <li class="left"><a href="index.html">Taryn McKenzie</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="resume.html">Resume</a></li>
        <li><a href="/posts">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>
<nav th:fragment="navbar-mobile" class="mobilescreen">
    <div title="Menu" id="menuToggle">
        <input type="checkbox">
        <!-- LINES FOR MENU -->
        <span></span>
        <span></span>
        <span></span>
        <!-- NAV ON CLICK -->
        <ul id="menu">
            <li><a href="index.html">Taryn McKenzie</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="resume.html">Resume</a></li>
            <li><a href="/posts">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>
</nav>


<!--------FOOTER NAV-------->
<footer th:fragment="footer" class="section">
    <nav class="footer-nav">
        <ul class="nav-left">
            <li><a href="https://github.com/TarynMcKenzie">Github</a></li>
            <li><a href="https://www.linkedin.com/in/tarynmckenzie/">LinkedIn</a></li>
            <li><a href="https://codepen.io/tarynmckenzie">Codepen</a></li>
            <li><a href="#">Dribble</a></li>
        </ul>
        <ul class="nav-right">
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="resume.html">Resume</a></li>
            <li><a href="/posts">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</footer>


</body>
</html>